
<app-navbar></app-navbar>

<div class="flex justify-around">
<div class="flex flex-col bg-white shadow-sm border border-slate-200 rounded-lg my-6 w-96">
    <div class="m-2.5 overflow-hidden rounded-md h-80 flex justify-center items-center">
      <img class="w-full h-full object-cover" src="https://m.media-amazon.com/images/I/419ctoqYjFL._AC_UF1000,1000_QL80_.jpg" alt="profile-picture" />
    </div>
    <div class="p-6 text-center">
      <h4 class="mb-1 text-xl font-semibold text-slate-800">
        Math Lover
      </h4>
      <p
        class="text-sm font-semibold text-slate-500 uppercase">
        Davis
      </p>
      <p class="text-base text-slate-600 mt-4 font-light ">
         Join the group to have deeper conversation and fun about math on campus with new buddies.
      </p>
    </div>
    <div class="flex justify-center p-6 pt-2 gap-7">
      <button class="min-w-32  rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button" (click)="joinGroup()">
       Join
      </button>
    </div>
  </div>

  <div class="flex flex-col bg-white shadow-sm border border-slate-200 rounded-lg my-6 w-96">
    <div class="m-2.5 overflow-hidden rounded-md h-80 flex justify-center items-center">
      <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1452457750107-cd084dce177d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D" alt="profile-picture" />
    </div>
    <div class="p-6 text-center">
      <h4 class="mb-1 text-xl font-semibold text-slate-800">
        Code Buddy
      </h4>
      <p
        class="text-sm font-semibold text-slate-500 uppercase">
        HMC
      </p>
      <p class="text-base text-slate-600 mt-4 font-light ">
         Have great insights about tech stuff.
      </p>
    </div>
    <div class="flex justify-center p-6 pt-2 gap-7">
      <button class="min-w-32  rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button" (click)="joinGroup()">
       Join
      </button>
    </div>
  </div>

  <div class="flex flex-col bg-white shadow-sm border border-slate-200 rounded-lg my-6 w-96">
    <div class="m-2.5 overflow-hidden rounded-md h-80 flex justify-center items-center">
      <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3ltfGVufDB8fDB8fHww" alt="profile-picture" />
    </div>
    <div class="p-6 text-center">
      <h4 class="mb-1 text-xl font-semibold text-slate-800">
        Gym Partner
      </h4>
      <p
        class="text-sm font-semibold text-slate-500 uppercase">
        Davis | Oakville
      </p>
      <p class="text-base text-slate-600 mt-4 font-light ">
         meet with your new gym partner and boost your enthusiasm.
      </p>
    </div>
    <div class="flex justify-center p-6 pt-2 gap-7">
      <button class="min-w-32  rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button" (click)="joinGroup()">
       Join
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>