


<div class="min-h-screen ">
<div class="main h-screen">
<div class="container">
    <spline-viewer class="background" url="https://prod.spline.design/VUaqBlvRdoEwptL8/scene.splinecode"></spline-viewer>
<h1>Welcome to NexoPeer - Your Gateway to Meaningful Connections!</h1>
<h3>Discover a world where interests align and opportunities thrive. NexoPeer brings people together for shared activities, passions, and moments that matter. Whether you're looking for a study buddy, a teammate for a game, or someone to explore new events with, we make it effortless to connect with like-minded peers.</h3>
</div>
<div class="buttons">
    <button class="login">Login</button>
    <button class="register">Register</button>

</div>
</div>
</div>


<app-footer></app-footer>