.container{
    text-align:center;
    margin:2rem;
    padding:2rem;
}
.buttons{
    display:flex;
    justify-content: center;
    
}

.login, .register{
    margin:1rem;
    padding:1rem 1.5rem;
    background-color:azure;
    border-radius:5px;

}